.container {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

.image-container {
    flex-shrink: 0;
}

.ImageEdit {
    width: 150px;
    height: 250px;
    object-fit: cover;
    border-radius: 3px;
    display: block;
}

.card {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
